/* gtk-3.0 does not use the margin defined so windows overlap */
/* no idea how to get around this */

/* below code is for libadwaita-1.5 */

/* scss */
&:not(.maximized) {
  &.tiled,
  &.tiled-top,
  &.tiled-right,
  &.tiled-bottom,
  &.tiled-left {
    border-radius: 8px;
    box-shadow: 0 0 0 4px $selected_bg_color;
    margin: 8px;

    &:backdrop {
      box-shadow: 0 0 0 4px $selected_bg_color_backdrop;
    }
  }  
}


/* css */
window:not(.maximized).tiled,
window:not(.maximized).tiled-top,
window:not(.maximized).tiled-right,
window:not(.maximized).tiled-bottom,
window:not(.maximized).tiled-left {
  border-radius: 8px;
  box-shadow: 0 0 0 4px #579c8e;
  margin: 8px; }
  window:not(.maximized).tiled:backdrop,
  window:not(.maximized).tiled-top:backdrop,
  window:not(.maximized).tiled-right:backdrop,
  window:not(.maximized).tiled-bottom:backdrop,
  window:not(.maximized).tiled-left:backdrop {
    box-shadow: 0 0 0 4px #aaaaaa; }





/* experimental GTK-3.0 css */

window > headerbar {margin: 8px 8px 0 8px;}
window > :not(headerbar):not(decoration) {margin: 0 8px 8px 8px;}
window {background: transparent;}

decoration {box-shadow: none;}


window > headerbar {border: 4px solid #ff0000; border-bottom: none;}
window > :not(headerbar):not(decoration) {border: 4px solid #ff0000; border-top: none;}


grid > widget {background: #383838;}
